
  /* css titres */

h1 {
	color:#FF7F00;
    text-transform: uppercase;
	text-align: center;
    display: none;
}


    /* css page 2contact */

.custom-body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
  
 
.main-title {
    color: #009245;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform:uppercase;

}
  
.image-container {
    position: relative;
    margin-bottom: 30px;
   
}
  
.image-container img {
    width: 65%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
  
 
.custom-button {
    background-color: #009245;
    color: rgb(255, 255, 255);
    width: 65%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
  

.form-password input, .form-register input, .form-login input, .form-account input, .form-formulaire input,
.form-devis input {
    width: 100%;
    max-width: 100% !important;
}
 

	
/* css formulaire de contact */ 

#wpforms-submit-147.wpforms-submit {
    /* bouton "Envoyer" */
    background-color: #FF7F00;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* survol */
#wpforms-submit-147.wpforms-submit:hover {
    background-color: #009245;   
}



/* navbar css */


.navbar{
    border-radius: 50px; 
    z-index: 1000; 
    width: 100%; 
    top: 0;
	background-color: white;
    box-shadow: 2px 2px 4px 
		rgba(128, 128, 128, 0.2)    
}
 
.nav-item {
	margin: 10px 20px;
}


/* css des cards blog */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #b9b7b7;
    border-radius: 0.25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px; 
}


.row > div:nth-child(-n+3) {
    margin-bottom: 35px; /*  marge entre les cartes du haut et du bas */
}

.mt-5 {
    padding: 20px;
    margin-top: 90px!important;
}



/*formulaire devis */

div.wpforms-container-full .wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: #FFF4EB;
    border: 1px solid #FFF4EB;
    box-sizing: border-box;
}



/* css mon compte */

.um a.um-button, .um a.um-button.um-disabled:active, .um a.um-button.um-disabled:focus, .um a.um-button.um-disabled:hover, .um input[type=submit].um-button, .um input[type=submit].um-button:focus {
    background: #FF7F00;
}

.um .um-cover-add:hover, .um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i, .um .um-field-radio.active:not(.um-field-radio-state-disabled) i, .um .um-item-meta a, .um .um-member-less a:hover, .um .um-member-more a:hover, .um .um-member-name a:hover, .um .um-members-pagi a:hover, .um .um-profile-subnav a.active, .um .um-tip:hover, .um-account-name a:hover, .um-account-nav a.current, .um-account-side li a.current span.um-account-icon, .um-account-side li a.current:hover span.um-account-icon, .um-dropdown li a:hover, i.um-active-color, span.um-active-color {
    color: #FF7F00;
}

.um a.um-link {
    color: #FF7F00;
}

.um-account-main div.um-account-heading {
   
    color: #000000;
}

.um-request-button {
   
    background-color: #FF7F00;
   	color: #fff;
   
}

div.wpforms-container-full input[type=submit]:not(:hover):not(:active), div.wpforms-container-full button[type=submit]:not(:hover):not(:active), div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active) {
    background-color: #FF7F00;
    color: var(--wpforms-button-text-color);
}



/* css cantine */

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.wp-block-columns {
    align-items: normal!important;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap!important;
	margin: 25px;

}

 /* css footer */
  
 footer {
    background-color: #FFF4EB;
    margin-top: 10px;
        
}


  /* css page 404 */

  .error-container {
    position: relative;
    height: 100vh; /* 100% de la hauteur de la fenêtre du navigateur */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-container img {
    width: 100%; /* 100% de la largeur du conteneur parent */
    height: 100%; /* 100% de la hauteur du conteneur parent */
    object-fit: cover; /* Assurez-vous que l'image couvre toute la zone définie */
}
